<div class="event_container">
    <div class="event_title">
        <%= @event.title %>
    </div>

    <div class="event_date-box">
    Start:
    <span class="event_date">
        <%= @event.date %>
    </span>
    </div>
    <div>
        <p>
            <strong>Created by:</strong>
            <%= @event.creators.first.name %>
        </p>
    </div>
</div>
<%if @event.creators.first == current_user%>
    <%= button_to 'Delete', event_path(@event), method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete-button-event' %>
<% end %>
<!-- زر الحضور -->

<% if @event.creators.first !=  current_user%>
    <%= button_to "Attend Event", attend_event_path(@event), method: :post %>
<% end %>


<!-- قائمة الحاضرين -->
<h2>Attenders</h2>
<ul>
  <% @event.attenders.each do |attender| %>
    <li><%= attender.name %></li>
  <% end %>
</ul>

<%= button_to 'Back to events', "/events", method: :get, class: 'back-button-event' %>
